-- Firstly uncommand 5th and 15th lines from init.lua and create a copy of this file as appkeys.lua. Then restart awesome.
-- There is a example that opens Firefox. 

local awful = require('awful')
local gtable = require('gears.table')

appkeys = gtable.join(

  awful.key({ modkey }, "F3",
    function()
      awful.spawn("firefox")
    end,
    {description = "open Firefox", group = "apps"})

  )
